# OS
.DS_Store
*.swp
*.swo

# Backend
go-ecommerce-api/.env
go-ecommerce-api/tmp/
go-ecommerce-api/dump.rdb

# Frontend
native-ecommerce/node_modules/
native-ecommerce/.expo/
native-ecommerce/dist/
native-ecommerce/.env

# IDE
.vscode/
.idea/
*.log
